paper/chapters/1/introduction.fdb_latexmk
paper/chapters/1/introduction.fls
paper/chapters/1/introduction.log
paper/chapters/2/background.aux
paper/mainthesisUVIC.aux
paper/mainthesisUVIC.fdb_latexmk
paper/mainthesisUVIC.fls
paper/mainthesisUVIC.lof
paper/mainthesisUVIC.log
paper/mainthesisUVIC.lot
paper/mainthesisUVIC.pdf
paper/mainthesisUVIC.synctex.gz
methodology.aux
